torch==2.0.1 
torchvision==0.15.2 
torchaudio==2.0.2
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
transformers>=4.28.0
sentencepiece
scipy
faiss-gpu
streamlit
flask
tensorboard
scikit-learn
openpyxl